body {
  background: radial-gradient(circle at bottom, #c70000 0, #770028 75%, #0c002c 100%);
  background-color: #770028;
} 

.h1 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0 0 10px gray, 0 0 10px gray;
  font-size: 350%;
  text-align: center;
}

.h3 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0 0 10px gray, 0 0 10px gray;
  font-size: 150%;
  text-align: center;
}