body {
  background: black;
  background-color: black;
} 

.h1 {
  color: white;
  animation: fade 3s;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 0 10px gray, 0 0 10px gray;
  font-size: 350%;
  text-align: center;
}

.h3 {
  opacity: 1;
  color: white;
  animation: fade2 4s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0 0 10px gray, 0 0 10px gray;
  font-size: 150%;
  text-align: center;
}


@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
    animation: fade 1s linear 3s;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.sl2 {
  z-index: -1;
}

.sl2 {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
  padding: 10px 10px;
  border: none;
  height: 300%;
  width: 50%
}


.sl2:hover {
  color: white;
  text-shadow: 0 0 8px rgba(255, 255, 255, 1.00), 0 0 8px rgba(255, 255, 255, 1.00);
}

.links2 {
  text-align: center;
}

.sl2:active {
  color: red;
  text-shadow: 0 0 8px red, 0 0 8px red;
}

